<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.polvazo.speakmany">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/logofinal"
        android:label="@string/nombre"
        android:logo="@mipmap/loguito"
        android:supportsRtl="true"
        android:theme="@style/splashTheme"
        >
        <activity android:name=".speakMany.SplashScreem.splashscreem">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".speakMany.Actividades.chateaMucho"
            android:theme="@style/StyleChat"
            android:label="@string/app_name"
            android:logo="@mipmap/icon"
            >
        </activity>

    </application>

</manifest>